maven-core/src/main/resources/cache-config.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:c="org:apache:maven:cache:config:v1"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="1.0"
           elementFormDefault="qualified"
           targetNamespace="org:apache:maven:cache:config:v1">

    <xs:annotation>
        <xs:appinfo>
            <jxb:globalBindings optionalProperty="isSet"/>
            <jxb:schemaBindings>
                <jxb:package name="org.apache.maven.caching.jaxb.config"/>
            </jxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:element name="cache" type="c:CacheType">
        <xs:annotation>
            <xs:documentation>
                Cached build metadata
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="CacheType">
        <xs:sequence>
            <xs:element name="configuration" type="c:ConfigurationType">
                <xs:annotation>
                    <xs:documentation>
                        Configuration of major cache properties
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="input" type="c:InputType">
                <xs:annotation>
                    <xs:documentation>
                        Configuration for source code input files participating in checksum calculation
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="output" type="c:OutputType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Configuration for output artifacts, it's needed if you want to explicitly include/exclude something from caching
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="executionControl" type="c:ExecutionControlType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Execution rules for plugins in cached mode. Defines which plugins should run always
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ConfigurationType">
        <xs:sequence>
            <xs:element name="enabled" type="xs:boolean"/>
            <xs:element name="hashAlgorithm">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="XX">
                            <xs:annotation>
                                <xs:documentation>
                                    64 bit XX family hashing. Fast, but higher probability of collisions
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="XXMM">
                            <xs:annotation>
                                <xs:documentation>
                                    64 bit XX family hashing, with usage of Memory Mapped Buffer
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="SHA-1"/>
                        <xs:enumeration value="SHA-256"/>
                        <xs:enumeration value="SHA-384"/>
                        <xs:enumeration value="SHA-512"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="validateXml" type="xs:boolean" default="true">
                <xs:annotation>
                    <xs:documentation>
                        Validate cache config and builds metadata against xsd.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="projectDiscoveryStrategy" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Specifies how to identify belonging to a cached project then submodule is being build.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="specificVersion" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Any project dependency this this version will be considered cache eligible and will
                                    be processed cache aware
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="remote">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="url" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    address of remote cache
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="enabled" type="xs:boolean" default="true"/>
                    <xs:attribute name="saveToRemote" type="xs:boolean" default="false">
                        <xs:annotation>
                            <xs:documentation>
                                Save output to remote cache. Recommended to enable on CI agents only.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="attachedOutputs" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dirName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Directory name in build output directory to attach to cached artifacts
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="local">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="maxBuildsCached" type="xs:positiveInteger" default="3">
                            <xs:annotation>
                                <xs:documentation>
                                    Maximum number of cached build per artifact in local cache. First created cache (the
                                    oldest) is
                                    evicted if breached.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="debug" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="FileHash">
                            <xs:annotation>
                                <xs:documentation>
                                    Causes file hash is saved in build metadata
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="EffectivePom">
                            <xs:annotation>
                                <xs:documentation>
                                    Causes effective pom info is saved in build metadata
                                </xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InputType">
        <xs:sequence>
            <xs:element name="global" type="c:PathSetType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Global input calculation rules applicable to all projects and plugins in the build
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="plugin" type="c:PluginConfigurationScanType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Plugin specific input calculation rules
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PluginConfigurationScanType">
        <xs:complexContent>
            <xs:extension base="c:CoordinatesBaseType">
                <xs:sequence>
                    <xs:element name="effectivePom" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Effective pom calculation rules
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="excludeProperty" type="xs:string" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Plugin configuration property should be excluded from effective pom
                                            calculation
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="dirScan" type="c:DirScanConfigType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies plugin level rules of configuration processing in search of referenced source
                                files
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="execution" type="c:ExecutionConfigurationScanType" minOccurs="0"
                                maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Specifies execution specific configuration processing in search of referenced source
                                files
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ExecutionConfigurationScanType">
        <xs:sequence>
            <xs:element name="execId" maxOccurs="unbounded"/>
            <xs:element name="dirScan" type="c:DirScanConfigType">
                <xs:annotation>
                    <xs:documentation>
                        Specifies rules of configuration processing in search of referenced source files
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ignoreParentConfig" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    ignore parent config or inherit/merge
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:attributeGroup name="pathScanAttrGroup">
        <xs:annotation>
            <xs:documentation>
                Common attributes for scanning paths
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="recursive" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>
                    Should walk directory specified in property recursively or not
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="glob" type="xs:string" default="*">
            <xs:annotation>
                <xs:documentation>
                    Glob to apply when scanning dir denoted by this property
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:complexType name="TagScanConfigType">
        <xs:simpleContent>
            <xs:extension base="c:TagNameType">
                <xs:attributeGroup ref="c:pathScanAttrGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DirScanConfigType">
        <xs:choice>
            <xs:element name="include" maxOccurs="unbounded" type="c:TagScanConfigType">
                <xs:annotation>
                    <xs:documentation>
                        Forces cache to treat property value as input and include in calculation. If set, only included
                        properties will be takein in calculation (whitelist)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:sequence>
                <xs:element name="exclude" type="c:TagNameType" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Tag to exclude when scanning plugin configuration for input files (blacklist)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="tagScanConfig" type="c:TagScanConfigType" minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Additional processing rules for non-blacklisted tags
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:choice>

        <xs:attribute name="ignoreParent" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Ignore parent settings or inherit and merge
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="mode">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="auto">
                        <xs:annotation>
                            <xs:documentation>
                                Scan directory accordingly to cache implementation
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="skip">
                        <xs:annotation>
                            <xs:documentation>
                                Skip directory
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="OutputType">
            <xs:sequence>
                <xs:element name="exclude" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Patterns to exclude output artifacts applicable to all projects in the build
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pattern" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PathSetType">
        <xs:sequence>
            <xs:element name="glob" type="xs:string" minOccurs="0" default="*"/>
            <xs:element name="include" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attributeGroup ref="c:pathScanAttrGroup"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="exclude" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--    <xs:complexType name="ReconciliationType">-->
    <!--        <xs:sequence>-->
    <!--            <xs:element name="plugin" type="c:GoalsReconciliationType" minOccurs="0" maxOccurs="unbounded">-->
    <!--                <xs:annotation>-->
    <!--                    <xs:documentation>-->
    <!--                        Plugin specific reconciliation rules between cached build and running one-->
    <!--                    </xs:documentation>-->
    <!--                </xs:annotation>-->
    <!--            </xs:element>-->
    <!--        </xs:sequence>-->
    <!--    </xs:complexType>-->

    <xs:complexType name="GoalReconciliationType">
        <xs:complexContent>
            <xs:extension base="c:GoalIdType">
                <xs:sequence>
                    <xs:element name="reconcile" type="c:TrackedPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Specify property which should be reconciled against running build
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="log" type="c:PropertyNameType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Specify property which should be logged to build metadata for exploration
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="nolog" type="c:PropertyNameType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Specify property which should not be logged
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="logAll" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            Controls if all plugin properties to be logged (true is default). All the properties logged
                            with respect to log/nolog children:
                            * true: logged all if no blacklists (<nolog/>) and whitelists (<log/>) specified on plugin
                            level
                            * false: logged only tracked and included by whitelists (<log/>) on plugin level
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ExecutionControlType">
        <xs:all>
            <xs:element name="runAlways" type="c:ExecutablesType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Specify which plugin should run always if present in build regardless of cached status
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ignoreMissing" type="c:ExecutablesType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Specify which executions/plugins/goals do not affect generated artifacts and do not affect build correctness.
                        If cached build lacks of ignorable executions only, it still could be reused.
                        Typically case is then cached build is produced with 'verify' and you locally you run 'install'.
                        Strictly speaking these are different builds but in most of cases you want this difference to be ignored
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reconcile" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Specify which plugin should run always if present in build regardless of cached status
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="plugin" type="c:GoalReconciliationType" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Reconciliation rules for plugin properties which might be affected by command line
                                    flags, etc
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="logAllProperties" type="xs:boolean" default="true">
                        <xs:annotation>
                            <xs:documentation>
                                Controls if all plugin properties to be logged (true is default). All the properties
                                logged with respect to children:
                                * logAll on plugin level overrides global value
                                * true: logged all if no blacklists (<nolog/>) and whitelists (<log/>) specified on
                                plugin level
                                * false: logged only tracked and included by whitelists (<log/>) on plugin level
                                <log/>
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="ExecutablesType">
        <xs:sequence>
            <xs:element name="plugin" type="c:PluginSetType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Specify which plugin should run always if present in build regardless of cached status
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="execution" type="c:ExecutionIdsListType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Specify which executions should run always if present in build regardless of cached status
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="goals" type="c:GoalsListType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Specify which goals should run always if present in build regardless of cached status
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GoalsListType">
        <xs:complexContent>
            <xs:extension base="c:CoordinatesBaseType">
                <xs:sequence>
                    <xs:element name="goal" type="xs:string" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Goals identification
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GoalIdType">
        <xs:complexContent>
            <xs:extension base="c:CoordinatesBaseType">
                <xs:attribute name="goal" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="ExecutionIdsListType">
        <xs:complexContent>
            <xs:extension base="c:CoordinatesBaseType">
                <xs:sequence>
                    <xs:element name="execId" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Executions ids list with plugin identifier
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PluginSetType">
        <xs:complexContent>
            <xs:extension base="c:CoordinatesBaseType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CoordinatesBaseType">
        <xs:attribute name="groupId" type="xs:string"/>
        <xs:attribute name="artifactId" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="TagNameType">
        <xs:simpleContent>
            <xs:extension base="c:EmptyString">
                <xs:attribute name="tagName" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PropertyNameType">
        <xs:simpleContent>
            <xs:extension base="c:EmptyString">
                <xs:attribute name="propertyName" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="EmptyString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TrackedPropertyType">
        <xs:simpleContent>
            <xs:extension base="c:PropertyNameType">
                <xs:attribute name="skipValue" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Specify which value denotes skipped execution in plugin config.
                            If active build skips execution (property set to skipValue) cache will allow such
                            discrepancy.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="defaultValue" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Manual value for reconciliation. Required to reconcile runtime only properties
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
